services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    environment:
      FLASK_DEBUG: "True"
      PORT: "5000"
      GROQ_API_KEY: "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"
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app

  frontend:
    build:
      context: .
      dockerfile: Frontend/Dockerfile
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./Frontend:/app
      - frontend_node_modules:/app/node_modules

volumes:
  frontend_node_modules:
